*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
.container{
  background-color: #f2f2f2;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.219);
  width: 50vw;
  padding: 50px;
  margin: auto;
  transform: translateY(120px);
}
.inputField{
  width: 100%;
}
input{
  width: 75%;
  padding: 10px;
  border-radius: 15px;
  font-size: larger;
}
button{
  width: 25%;
  padding: 10px;
  border-radius: 10px;
  font-size: large;
  background-color: rgb(220, 248, 255);
  color: #444444;
}
.piku-container{
  border: 1px solid brown;
  display: flex;
  flex-direction: column;
  align-items: start;
}
/* .piku{
  display: block;
}
.task{
  font-size: 2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
} */